---
layout: default
---

<div class="posts">
  	<h2>読書</h2>
    <article class="post">
    	<ul>
    	{% for post in site.categories.book %}
            <li>
                [{{ post.date | date: "%Y/%m/%d" }}] {{ post.title }}
                {% if post.review != false %}
                    <a href="{{ site.baseurl }}{{ post.url }}">Review</a> 
                {% endif %}
                    <a href="http://www.amazon.co.jp/dp/{{post.book_id}}">Amazon</a>
            </li>
            
        {% endfor %}
	    </ul>
    </article>
  
    <h2>Python</h2>
    <article class="post">
        <ul>
        {% for post in site.categories.python %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">[{{ post.date | date: "%Y/%m/%d" }}] {{ post.title }} </a></li>
        {% endfor %}
        </ul>
    </article>

    <h2>料理</h2>
    <article class="post">
        <ul>
        {% for post in site.categories.cooking %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">[{{ post.date | date: "%Y/%m/%d" }}] {{ post.title }} </a></li>
        {% endfor %}
        </ul>
    </article>



</div>